html,
body,
ul,
li,
h2,
h3,
p,
form,
input,
div {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Barlow', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Josefin Sans', sans-serif;

border: 5px solid red;
*/

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

p {
  line-height: 20px;
  font-family: 'Barlow', sans-serif;
  font-weight: medium; 
  letter-spacing: 1.1px;
  margin-bottom: 10px; 
     
 }
 
 h1 {
   color: black;
   font-family: 'Lato', sans-serif;
   font-weight: bold;
   vertical-align: middle;
   color:  #3300ff;
   letter-spacing: 1.5px;

 }

 h2 {
   color: white;
   padding-bottom: 20px;
   letter-spacing: 2px;
 }

/* -------------- header --------------- */

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}

.header {
  font-family: 'Barlow', sans-serif;
  color: black;
  background-color: white;
  min-height: 100vh;
  background-image: url(/assets/kateblackandwhiteTRANSP.jpg);
  background-position: top center; 
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;

 
}

.name_kate {
padding-top: 15px;
font-size: 30px;
letter-spacing: .2em;
color:#3300ff;
font-weight: 100;
padding-left: 30px;
 

}

.name_title {
  font-family: 'Barlow', sans-serif;
  font-size: 30px;
  letter-spacing: .2em;
  color: #3300ff;
  font-weight: 100;
  padding-top: 15px;
  padding-right: 30px;
}

.text_wrapper__header {
top: 50%;
left: 50%;
letter-spacing: .8em;

}




/* -------------- buttons --------------- */
.button {
  background-color: transparent;
  background-repeat:no-repeat;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: .02em;
  margin: 4px 2px;
}

.button:hover {
  background-color: black;
  border-radius: 90px;
  border: 6px solid  #3300ff;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button_wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 6px;
  width: 100%;
}

.button1 {
  border-radius: 90px;
  border: 6px solid black;
  color: black;
  font-weight: semi-bold;
  width: 11%;
 
}

.button2 {
  border-radius: 90px;
  border: 6px solid black;
  color: black;
  font-weight: semi-bold;
  width: 11%;
}

.button3 {
  border-radius: 90px;
  border: 6px solid black;
  color: black;
  font-weight: semi-bold;
  width: 11%;
}

.button4 {
  border-radius: 90px;
  border: 6px solid black;
  color: black;
  font-weight: semi-bold;
  width: 11%;
}
.button5 {
  border-radius: 90px;
  border: 6px solid black;
  color: black;
  font-weight: semi-bold;
  width: 11%;
}



/* -------------- intro --------------- */



.intro {
  vertical-align: top;
  height: 100vh;

}

.intro_wrapper {
padding: 30px;
text-align: center;
font-weight: bold;
letter-spacing: .2 em;
}


/* -------------- About --------------- */

.about {
  background-color: #3300ff;
  min-height: 100vh;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
 
 
}

.about p{
  color: white;
}

.about_wrapper {
  min-height: 80%;
  border: 10px solid white;
  align: center;
  display: flex;
  border-radius: 90px;
  padding: 45px;
}

.about_wrapper_2 {
  padding-left: 25px;
  display: inline-block;
  width: 50%;
  
}

.about_wrapper_2:first-child {
  width: 80%;
  padding-right: 20px;
}

/* -------------- skills --------------- */
.projects {
  background-color: #EF3B3E;
  min-height: 100vh;
}

.skills {
  list-style: none;
  padding-left: 25px;
}

.skills li {
  list-style: none;
}


/* -------------- web and design---------------
.about {
  background-color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about p {
  color: #179e00;
}

.about_wrapper {
  min-height: 80%;
  width: 80%;
  border: 10px solid #179e00;
  align: center;
  display: inline-block;
  border-radius: 90px;
  padding: 45px;
}
 */

/* -------------- art --------------- */
.artwork{
  background-color: #FFE0BD;
  min-height: 100vh;
}

/* -------------- contact info  --------------- */
.contact{
  background-color: #FFE0BD;
  min-height: 100vh;
}

.social-icons {
  text-align: center;
}

.social-icons ul{
  list-style: none;
  
}
.social-icons li {
  display: inline-block;
  max-width: 10px;
  font-size: 1px;
  margin: 50px;
}

.social-icons li:hover {
  display: inline-block;
  max-width: 10px;
  font-size: 1px;
  margin: 50px;
  cursor: pointer;
}







