html,
body,
ul,
li,
h2,
h3,
p,
form,
input,
div {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Barlow', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Josefin Sans', sans-serif;

border: 5px solid red;
*/

p {
  line-height: 20px;
  font-family: 'Barlow', sans-serif;
  font-weight: medium; 
  margin-bottom: 10px; 
     
 }
 
 h1 {
   color: black;
   font-family: 'Lato', sans-serif;
   font-weight: semi-bold;


 }

/* -------------- header --------------- */



.header {
  font-family: 'Barlow', sans-serif;
  font-size: 2em;
  color: black;
  letter-spacing: .8em;
  background-color: white;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("https://i.ibb.co/vLhVHBH/kateokokok.jpg");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: inline-block;

  
  
  
}

.text_wrapper__header h1 {
 vertical-align: top;
 text-align: center;
 vertical-align: center;

}




/* -------------- buttons --------------- */
.button {
  background-color: transparent;
  background-repeat:no-repeat;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button:hover {
  background-color: black;
  border-radius: 90px;
  border: 5px solid white;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  
}


.button_wrapper {
  text-align: center;
  display: inline-block;
  padding-left: 10px;
  padding-top: 60px;
  width: 100vw;
}

.button1 {
  border-radius: 90px;
  border: 5px solid black;
  color: black;
  font-weight: semi-bold;
  width: 15%;
 
}


.button2 {
  border-radius: 90px;
  border: 5px solid black;
  color: black;
  font-weight: semi-bold;
  width: 15%;
}

.button3 {
  border-radius: 90px;
  border: 5px solid black;
  color: black;
  font-weight: semi-bold;
  width: 15%;
}

.button4 {
  border-radius: 90px;
  border: 5px solid black;
  color: black;
  font-weight: semi-bold;
  width: 15%;
}
.button5 {
  border-radius: 90px;
  border: 5px solid black;
  color: black;
  font-weight: semi-bold;
  width: 15%;
}



/* -------------- intro --------------- */



.intro {
  vertical-align: top;
  height: 100vh;

}

/* -------------- About --------------- */

.skills {
  background-color: #3300ff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 
 
}

.skills p{
  color: white;
}

.skills_wrapper {
  min-height: 80%;
  width: 80%;
  border: 10px solid white;
  align: center;
  display: inline-block;
  border-radius: 90px;
  padding: 45px;

}

/* -------------- skills --------------- */
.projects {
  background-color: #EF3B3E;
  min-height: 100vh;
}


/* -------------- web and design--------------- */
.about {
  background-color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about p {
  color: #179e00;
}

.about_wrapper {
  min-height: 80%;
  width: 80%;
  border: 10px solid #179e00;
  align: center;
  display: inline-block;
  border-radius: 90px;
  padding: 45px;
}

/* -------------- art --------------- */
.artwork{
  background-color: #FFE0BD;
  min-height: 100vh;
}

/* -------------- contact info  --------------- */
.contact{
  background-color: #FFE0BD;
  min-height: 100vh;
}

.social-icons {
  text-align: center;
}

.social-icons ul{
  list-style: none;
  
}
.social-icons li {
  display: inline-block;
  max-width: 10px;
  font-size: 1px;
  margin: 50px;
}

.social-icons li:hover {
  display: inline-block;
  max-width: 10px;
  font-size: 1px;
  margin: 50px;
  cursor: pointer;
}




